.container-fluid{
    margin-top: 10px;
}

form.example input[type=text] {
    height: 40px;
    font-size: 17px;
    float: left;
    width: 80%;
    border-color: white;
  }

#myInput{
    margin:left;
    max-width:300px;
    border-color: #3131358a;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  table.table1 {
    border-collapse: collapse;
    width: 100%;
    background-color: #313135;
  }

table.table1 th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #313135;

  }

table.table1 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #313135;

  }

  
table.table2 {
    border-collapse: collapse;
    width: 100%;
  }
  
table.table2 th {
    text-align: left;
    padding: 8px;
  }

table.table2 td {
    text-align: left;
    padding: 8px;
  }  
  
table.table2 tr:nth-child(even){background-color: #f2f2f2}
  
table.table2 th {
    background-color: #47445c;
    color: white;
  }