body{
  background-color: #1dd1a1;
background-image: linear-gradient(315deg, #1dd1a1 0%, #d3d3d3 74%);



}
.container-fluid{
  margin-top: -15px; 
}

form.search input[type=text] {
    height: 40px;
    font-size: 17px;
    float: left;
    width: 80%;
    border-color: white;
  }

#myInput{
    margin:left;
    max-width:300px;
    border-color: #3131358a;
}

#myInput:hover{
  background-color: #f1f2f6;
background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);

}

form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  
table.table2 {
    width: 95%;
    margin:29px;
  }
  
table.table2 th {
    text-align: left;
    padding: 8px;
  }

table.table2 td {
    text-align: left;
    padding: 8px;
  }  
  
table.table2 tr{
  background-color: #ff9f43;
  background-image: linear-gradient(315deg, #ff9f43 0%, #d3d3d3 74%);
  border-bottom: 1px solid #c2c0c0;
}
  
table.table2 th {
    background-color: #000000dc;
    color: white;
  }

  table.table2 tr:hover{
    background-color: #70a1ff;
  background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
  }

  #back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    opacity: 0.8;
    transition: 0.3s;
}
#back-to-top:hover {opacity: 1}

  .bg-imagee {
    /* The image used */
    
    /* Add the blur effect */
  /*  filter: blur(8px);
    -webkit-filter: blur(8px);*/
    
    /* Full height */
    height: 580px;
    width:100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
.content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin: 43vh 0;
  text-align: center;
}