.container-fluid{
    margin-top: 10px;
    background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

form.search input[type=text] {
    height: 40px;
    font-size: 17px;
    float: left;
    width: 80%;
    border-color: white;
  }

#myInput{
    margin:left;
    max-width:300px;
    border-color: #3131358a;
}

#myInput:hover{
  background-color: #f1f2f6;
background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);

}

form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  
table.table2 {
    border-collapse: collapse;
    width: 100%;
  }
  
table.table2 th {
    text-align: left;
    padding: 8px;
  }

table.table2 td {
    text-align: left;
    padding: 8px;
  }  
  
table.table2 tr:nth-child(even){background-color: #f2f2f2}
  
table.table2 th {
    background-color: #47445c;
    color: white;
  }

  table.table2 tr:hover{
    background-color: #70a1ff;
  background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
  }