@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525; 
}

.container {
  position: absolute;
  margin: auto;
  top: 150%;  /*180*/
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;    /***80 search bg width*/
    height: 50px;   /***80 search bg height*/
    background: #00FEDE;
    border-radius: 50%; /*Search bg border radius*/
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 13px;    /***22 search down slash position in top*/
      right: 0;
      bottom: 0;
      left: 13px;   /***22 search down slash position in left*/
      width: 9px;  /***12 Search down slash height**/
      height: 1.5px;  /***2 Search down slash thickness */
      background: white;
      transform: rotate(45deg);   /* Search down slash curve position 45deg */
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -4px; /***-5 search round position in top*/
      right: 0;
      bottom: 0;
      left: -4px;   /***-5 search round position in left*/
      width: 16px;  /***25 search round width**/
      height: 16px; /***25 search round height**/
      border-radius: 50%;   /*search circle round border*/
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px; /***50 Input field length**/
    height: 40px; /***50 Input field height**/
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #00FEDE;
    color: black; /*white*/
    text-shadow: 0 0 10px #00FEDE;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #00FEDE,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: black; /*white*/
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
