/*
table.table1 {
    border-collapse: collapse;
    width: 100%;
    background-color: #313135;
  }

table.table1 th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #313135;

  }

table.table1 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #313135;

  }

  
table.table2 {
    border-collapse: collapse;
    width: 85%;
  }
  
table.table2 th {
    text-align: left;
    padding: 8px;
  }

table.table2 td {
    text-align: left;
    padding: 8px;
  }  
  
table.table2 tr:nth-child(even){background-color: #f2f2f2}
  
table.table2 th {
    background-color: #47445c;
    color: white;
  }
*/

/* default table css*/  

table.default {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
 /* color: white; /* newly added field */
}

table.default tr {
  /*  border-bottom: 1px solid  #dfdfdf;  */
    border-bottom: 1px solid  #ffffff;
}

table.default th {
    border: none;
    height: 30px;
    padding: 2px;
}

table.default td {
    border: none;
    height: 30px;
    padding: 2px;
}

table.default th {
  /*  background: #1e1d1f; */
    background: white;
    color: black;
}

/*
table.default tr:hover {
    background: #d8cb5a; /*newly updated  
}
*/

/* specific table css*/  

table.table3 {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: left;
/* color: white; /* newly added field */
}

table.table3 tr {
 /* border-bottom: 1px solid  #dfdfdf;*/
  border-bottom: 1px solid  #ffffff;

}

table.table3 th {
  border: none;
  height: 30px;
  padding: 2px;
}

table.table3 td {
  border: none;
  height: 30px;
  padding: 2px;
}

table.table3 th {
  /*  background: #1e1d1f; */
  background: white;
  color: black;
}

/*
table.table3 tr:hover {
    /*  background: #d8cb5a; /*newly updated 
}
*/